{{ $jqueryMin := resources.Get "js/jquery.min.js" | js.Build | minify |
fingerprint }}
<script src="{{$jqueryMin.RelPermalink}}"></script>

{{ $bootstrapMin := resources.Get "js/bootstrap.min.js" | js.Build | minify |
fingerprint }}
<script src="{{$bootstrapMin.RelPermalink}}"></script>

{{ $jquerySticky := resources.Get "js/jquery.sticky.js" | js.Build | minify |
fingerprint }}
<script src="{{$jquerySticky.RelPermalink}}"></script>

{{ $clickScroll := resources.Get "js/click-scroll.js" | js.Build | minify |
fingerprint }}
<script src="{{$clickScroll.RelPermalink}}"></script>

{{ $counter := resources.Get "js/counter.js" | js.Build | minify | fingerprint
}}
<script src="{{$counter.RelPermalink}}"></script>

{{ $customjs := resources.Get "js/custom.js" | js.Build | minify | fingerprint
}}
<script src="{{$customjs.RelPermalink}}"></script>
