<section class="section-padding" id="section_3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-12 text-center mb-4">
        <h2>{{T "causes.heading" |safeHTML}}</h2>
      </div>

      {{$currentLang:= .Site.Language.Lang}} {{ range .Site.Data.causes }}

      <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
        <div class="custom-block-wrap">
          {{$imgSrc := resources.Get .thumbnail}} {{$webpURL:= $imgSrc.Resize
          "300x webp"}}
          <img
            src="{{$webpURL.RelPermalink}}"
            class="custom-block-image img-fluid"
            loading="lazy"
            alt=""
          />

          <div class="custom-block">
            <div class="custom-block-body">
              <h5 class="mb-3 text-capitalize">
                {{index .title $currentLang}}
              </h5>

              <p>{{index .description $currentLang}}</p>

              <div class="d-flex align-items-center my-2">
                <p class="mb-0">
                  <strong class="text-capitalize"
                    >{{T "causes.raised"}}:</strong
                  >
                  {{.raised | lang.FormatCurrency 0 $.Site.Params.currency}}
                </p>

                <p class="ms-auto mb-0">
                  <strong class="text-capitalize"> {{T "causes.goal"}}:</strong>
                  {{.donationGoal | lang.FormatCurrency 0
                  $.Site.Params.currency}}
                </p>
              </div>
            </div>
            {{ with $.Site.Data.common.donateButton }}
            <a href="{{.url}}" class="custom-btn btn text-capitalize"
              >{{index .labelText $currentLang}}</a
            >
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
