<section class="section-padding section-bg" id="section_2">
  {{ $currentLang:= .Site.Language.Lang }} {{ with .Site.Data.ourStory.story }}
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 mb-5 mb-lg-0">
        {{$imgSrc:= resources.Get .bannerImage}} {{$webpSrc:= $imgSrc.Resize
        "400x webp"}}
        <img
          src="{{$webpSrc.RelPermalink}}"
          class="custom-text-box-image img-fluid"
          alt="{{.bannerAlt}}"
          loading="lazy"
        />
      </div>

      <div class="col-lg-6 col-12">
        <div class="custom-text-box">
          <h2 class="mb-2">{{index .title $currentLang | safeHTML}}</h2>

          <h5 class="mb-3">{{index .subtitle $currentLang |safeHTML}}</h5>

          <p class="mb-0">{{index .description $currentLang | safeHTML}}</p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="custom-text-box mb-lg-0">
              <h5 class="mb-3">{{index .missionTitle $currentLang}}</h5>

              <p>{{index .missionDescription $currentLang}}</p>

              <ul class="custom-list mt-2">
                {{ range .missionGoals }}
                <li class="custom-list-item d-flex">
                  <i class="bi-check custom-text-box-icon me-2"></i>
                  {{index .content $currentLang}}
                </li>

                {{ end }}
              </ul>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-12">
            <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0">
              <div class="counter-thumb">
                <div class="d-flex">
                  <span
                    class="counter-number"
                    data-from="1"
                    data-to="2009"
                    data-speed="1000"
                  >
                    {{.foundingYear}}
                  </span>
                  <span class="counter-number-text"></span>
                </div>

                <span class="counter-text">{{T "story.founded"}}</span>
              </div>

              <div class="counter-thumb mt-4">
                <div class="d-flex">
                  <span
                    class="counter-number"
                    data-from="1"
                    data-to="120"
                    data-speed="1000"
                  >
                    {{.donationAmount}}</span
                  >
                </div>

                <span class="counter-text">{{T "story.donation"}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</section>
